.nav {
    position: absolute;
    right: 0em;
    top: 2.2em;
    
    ul {
      li {
          float: left;
      
    
        &:last-child {
          padding-right: 0;
        }
    
        a, span {
          display: block;
          margin-left: 0.7em;
          padding: 0.80em 1.2em;
          letter-spacing: 0.06em;
          text-transform: $all-caps;
          font-size: $medium-txt;
          outline: 0;
          color: #333;
        }
    
        &.active a {
          background: $link-color;
          border-radius: 5px;
          color: $white;
        }
      }
    }
  }